img {
    display: block;
    margin: 0 auto;
    width: 500px; 
	height: 750px; 
}

h1, h3, h4{
	font-family: "Lucida Console", "Monaco", monospace;
	text-align: center;
}

h1 {
	font-size:	-webkit-xxx-large;
}

h3, h4 {
    padding-left: 450px;
    padding-right: 450px;
}

ul {
	font-family: "Lucida Console", "Monaco", monospace;
	font-size: medium;
	padding: 0; /* Remove the default padding. */
	list-style: none;
	text-align: center;
}

a {
	color: inherit;
}

